header {
    min-height: 185px;
    background-color: black;
    text-align: center;
}
header img {
    width: 125px;
    padding-top: 20px;
}
header span{
    display: block;
    color: blanchedalmond;
    font-weight: bold;
    font-size: 22px;
    padding: 10px;
}
