<app-header></app-header>
<app-navbar></app-navbar>


<div style="text-align:center">
<h1>
    Welcome to {{ title }} !
</h1>
<p>
    Our group project's name is Newton Community College Writing Center. We are five members in our group. As a part of our group  work I'm supposed to work about the student and staff information componant. 
</p>

<input type="text" class= "box" placeholder = "Enter your interested field" field="fname">
<button type= "submit" class= button
(mouseover) = "buttonOnMouseOver()" 
onclick ='<a href ="available_positions.html"/>'>

 <b>View available positions</b>
</button>
    
    

</div>
