<nav>
    <a href="/">Home</a>
    <a class="special" href="/signin">Sign In</a>
    <a class="special" href="/signup">Sign Up</a>
    <a class="special" href="/password-reset">Password Reset</a>
    <a class="special" href="/scheduler">Scheduler</a>
    <a class="special" href="/appointments">My Appointments</a>
    <a href="#">Info for Staff</a>

    <!-- To make: "ng generate component [component-name]" -->
    <a href="/Matt">Matt</a>
    <a href="/Kaitlyn">Kaitlyn</a>
    <a href="/Cassie">Cassie</a>
    <a href="/Rahima">Rahima</a>
</nav>
