.button {
    background-color: #5DADE2;     
    color: white;  
    font-size: 24px; 
    font-family: "The New Roman";
    padding: 14px 20px;  
    margin: 20px;  
    border: none;  
    cursor: pointer;
    width: 300px;  
    }      

.box {     
    color: black;   
    font-family: "The New Roman";
    padding: 14px 20px;  
    margin: 20px;  
   
}